{% load i18n %}
{% load wagtail_tags %}
<table class="listing">
    <col />
    <col  />
    <col width="16%" />
    <thead>
        <tr class="table-headers">
            <th>
                {% if not is_searching %}
                    <a href="{{ view.index_url }}{% if not ordering == "display_name" %}?ordering=display_name{% endif %}" class="icon icon-arrow-down-after {% if  ordering == "display_name" %}teal{% endif %}">
                        {% trans "Display Name" %}
                    </a>
                {% else %}
                    {% trans "Display Name" %}
                {% endif %}
            </th>
            <th>{% trans "View Url" %}</th>
            <th>
                {% if not is_searching %}
                    <a href="{{ view.index_url }}{% if not ordering == "-created_at" %}?ordering=-created_at{% endif %}" class="icon icon-arrow-down-after {% if  ordering == "-created_at" %}teal{% endif %}">
                        {% trans "Created" %}
                    </a>
                {% else %}
                    {% trans "Created" %}
                {% endif %}
            </th>
        </tr>
    </thead>
    <tbody>
        {% for video in videos %}
            <tr>
                <td class="title">
                    {% if choosing %}
                        <h2><a href="{% url 'wagtaildocs:document_chosen' doc.id %}" class="document-choice">{{ video.display_name }}</a></h2>
                    {% else %}
                        <h2>{{ video.display_name }}</h2>
                        <ul class="actions">
                            {% get_buttons_for_obj video as buttons %}
                            {% for button in buttons %}
                                <li>{% include 'modeladmin/includes/button.html' %}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td><a href="{{ video.view_url }}" class="nolink" download>{{ video.view_url }}</a></td>
                <td><div class="human-readable-date" title="{{ video.created_at|date:"d M Y H:i" }}">{% blocktrans with time_period=video.created_at|timesince %}{{ time_period }} ago{% endblocktrans %}</div></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
