{% extends "base.html" %}
{% load static wagtailcore_tags %}
{% load wagtail_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
    <div id='search_results' class='container'>
        <h3>Results</h3>

        {% if search_results %}
            <ul>
                {% for search_display in search_results %}
                    <li>
                        <h4><a href="{% pageurl search_display.journal_page %}">{{ search_display.journal_page }}</a>
                        </h4>
                        {% for hit in search_display.get_hit_list_sorted %}
                            {% if hit.score > 0 and hit.search_results_metadata %}
                                {% if hit.is_page %}
                                <h7>Page Contents</h7>
                                {% elif hit.is_doc %}
                                <h7>Document: {{hit.title}}</h7>
                                {% elif hit.is_video %}
                                <h7>Video: {{hit.title}}</h7>
                                {% endif %}
                                <ul>
                                {% for key, value in hit.search_results_metadata.items %} 
                                    {% for val in value %}
                                    <li><div id="content-highlight"><a href="{% pageurl search_display.journal_page %}#{{ hit.id|md5hash }}">{{val|safe}}</a></div></li>
                                    {% endfor %}
                                {% endfor %}
                                </ul>
                                <br>
                            {% endif %}
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            
        {% else %}
            <p>
                No results found
            </p>
        {% endif %}
    </div>
{% endblock %}
