{% load i18n %}
{% if code_block == '' %}
    {% trans "Add code block" as add_str %}
{% else %}
    {% trans "Edit code block" as add_str %}
{% endif %}
{% include "wagtailadmin/shared/header.html" with title=add_str %}

<ul class="fields" style="list-style: none; padding-right: 40px">
    <li>
        <label for="id_insert_code_block">{% trans "Enter Code:" %}</label>
        <div>
            <textarea id="id_insert_code_block" name="code_block" rows="10">{{ code_block }}</textarea>
        </div>
    </li>
    <li>
        <span class="working icon"></span><button type="button" class="button insert-code">{{add_str}}</button>
    </li>
</ul>
