html, body{
    background-color: #ffffff;
}
.journal-card {
    border-bottom: 5px solid #a31f34;
}
.journal-card:hover {
    border: 1px solid #a31f34;
    border-bottom: 5px solid #a31f34;
}
.journal-card-title{
    color: #a31f34;
}
a{
    color: #a31f34;
}
