.page-title {
    text-align: center;
}
ul {
    word-break: break-all;
    padding-left: 20px;
}
.page-side-menu {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}
.toc-journal-name {
    padding: 5px;
    border-bottom: 2px solid black;
    text-align: center;
    font-weight: bold;
}
.toc-journal-struct {
    padding: 20px;
}

.imported_pdf{
    width:100%;
    height:800px;
}
.xblockvideo{
    width: 100%;
}
.content{
    padding-bottom: 200px;
}
