.journal-list-header {
    text-align: center;
    color: #444;
}
.journal-card-row {
    justify-content: center;
}
.journal-card-row a {
    text-decoration: none;
    outline: none;
}
.journal-card {
    height: 360px;
    border: 1px solid #aaa;
    margin: 20px 0;
    border-bottom: 5px solid black;
    color: black;
}
.journal-card-image {
    display: block;
    height: 160px;
    overflow: hidden;
}
.journal-card-image > img {
    width: 100%;
    height: auto;
}
.journal-card-organization {
    color: #444;
    font-size: 18px;
    height: 35px;
    padding: 10px 10px 0 10px;
}
.journal-card-title {
    color: black;
    font-size: 20px;
    height: 100px;
    padding: 5px 10px 10px 10px;
    overflow: hidden;
}
.journal-card-link button {
    margin: auto;
    display: block;
    font-size: 20px;
}
@media (min-width: 1200px) {
    .journal-card-row > div {
        max-width: 360px;
    }
}
