html, body{
    background-color:#EEEEEE;
}
#header{
    border-bottom: 1px solid black;
}
#header .welcome{
    margin: 0 10px;
}
#footer{
    width: 100%;
    border-top: 1px solid black;
    margin-top: 20px;
}
.center-text{
    text-align: center;
}
#home h2{
    margin: 20px 0;
}
.content{
    margin-top: 20px;
}
.navbar-brand img{
    height:30px;
}
.hero {
    min-height: 350px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    color: white;
    display:flex;
    align-items:center;
}
.hero h1{
    margin: 20px 0;
}
.xblockvideo{
    height:575px;
    width:750px;
}
