{% load wagtailcore_tags %}

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.332/pdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.332/pdf.worker.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% load static %}
<!-- <script src="{% static "js/pdf.js" %}"></script>
<script src="{% static "js/pdf.worker.js" %}"></script> -->
<h2>{{value.title}}</h2>
<iframe class="imported_pdf" src="/static/pdf_js/web/viewer.html?file={{value.doc.url}}"></iframe>
