{% load wagtailcore_tags %}

{% load static %}
<h2>{{value.name}}</h2>
<!-- <iframe class="xblockvideo" src="{{value.video.view_url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->

{{value.video.fallback_source_url}}
<video id="my-video" class="video-js" controls preload="auto"
    poster=".jpg" data-setup="{}">
    <source src="{{value.video.fallback_source_url}}"  type='video/mp4'>
    <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video.
    </p>
</video>
