{% extends "base.html" %}
{% load static %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/journal_page.css' %}">
{% endblock %}



{% block content %}
    <script>
        let journal_structure = {{page.specific.get_json_journal_structure |safe}};
    </script>
    <div id="journal-sub-page" class="container content">

        <div class="row">
            <div class="col-0 col-lg-3 d-none d-lg-block">
                <table class="page-side-menu">
                    <tbody>
                        <tr>
                            <td class="toc-journal-name">{{page.get_parent_journal}}</td>
                        </tr>
                        <tr>
                            <td class="toc-journal-struct"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="col-12 col-lg-9 col-xl-6">
                <h1 class="page-title">{{page.title}}</h1>
                <div>{{page.body}}</div>
                <div class="page-nav">
                    {% if prevPage %}
                    <a href="{{prevPage.url}}" class="btn btn-secondary">Previous</a>
                    {% endif %}
                    {% if nextPage %}
                    <a href="{{nextPage.url}}" class="btn btn-secondary">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/journal_page.js' %}"></script>
{% endblock %}
