<nav id="header" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
        <img src="{{ request.site.siteconfiguration.site_logo.url }}" alt="Site Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if user.is_authenticated and user.is_staff %}
            <li class="nav-item active">
                <a class="nav-link" href="/cms">CMS</a>
            </li>
            {% endif %}
        </ul>
        <form action="{% url 'search' %}" method="get">
            <input type="text" name="query" value="{{ search_query }}">
            <input type="submit" value="Search" class="button">
        </form>
        {% if user.is_authenticated %}
        <span class="welcome">Welcome, {{user.username}}</span>
        <a class="nav-link" href="/logout">Logout</a>
        {% else %}
        <a class="nav-link" href="/login">Login</a>
        {% endif %}

    </div>
</nav>
